# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Build output
build/
/tmp/SC-build/
/tmp/SC-dmg/
/tmp/SC-rw/
